{% extends 'base.html' %}
{% block head %}
    <title>My questions</title>
    <style>
        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
        }
    </style>

{% endblock %}
{% block user %}
    {{ username }}
{% endblock %}
{% block logout %}
        <li><a href="/joinus/signout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% endblock %}
{% block signup %}
{% endblock %}

{% block body %}
    {% load staticfiles %}

    <!-- container -->
    <div class="container-fluid">
        <div class="row content">
       <div class="col-sm-2 sidenav">
                <div class="well well-sm">

                    <a class="btn-link" href="/student/"><img src="{{ UPLOAD_URL }}/overview_icon.png" height="25px">
                        Overview</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/edit/"><img src="{{ UPLOAD_URL }}/edit_icon.png" height="25px"> Edit Profile</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/change_password/"><img src="{{ UPLOAD_URL }}/password_icon.png" height="25px">Change
                        Password</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/enrolled_course/"><img src="{{ UPLOAD_URL }}/enroll_icon.png" height="25px">
                        Course Enrolled / Completed</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/question/all_questions/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                    height="25px">My Questions To Instructor</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/myprogress/"><img src="{{ UPLOAD_URL }}/quiz_icon.png"
                                                                    height="25px">My Submissions</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/accomplishments/"><img src="{{ UPLOAD_URL }}/accomplishment_icon.png" height="25px">Accomplishment</a>
                </div>
            </div>


            <div class="col-sm-8 text-left ">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table-responsive" width="100%">
                            <tr>
                                <td>
                                    <h2>Questions to instructors</h2>
                                </td>
                                <td align="right">
                                    <div>
                                        <p class="text-primary">
                                            Total Unanswered Questions </p>
                                        <button type="button" class="btn btn-primary btn-circle btn-lg">
                                            {% for k,v in remaining.items %}
                                                {% if k == 'general' %}
                                                    {{ v }}
                                                {% endif %}
                                            {% endfor %}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="panel-body">
                        {% for course in courses %}
                            {% for k,v in course.items %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <table class="table-responsive" width="100%">
                                            <tr>
                                                <td>
                                                    <h3>{{ v }}</h3>
                                                </td>

                                                <td align="right">
                                                    <div>
                                                        <p class="text-primary">
                                                            Unanswered Questions </p>
                                                        <button type="button" class="btn btn-primary btn-circle">
                                                            {% for k1,v1 in remaining.items %}
                                                                {% if k1 == v %}
                                                                    {{ v1 }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </button>
                                                    </div>


                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">
                                        {% for question in questions %}
                                            {% if question.course_id.cname == v %}
                                                <div class="mt-4">
                                                    <div class="card shadow">

                                                        <div class="card-block">
                                                            <h4 class="card-title">{{ question.question_heading }}</h4>
                                                            <div class="card-text">
                                                                <table class="table-responsive" width="100%">
                                                                    <tr>
                                                                        <td>
                                                                            <p>Asked to
                                                                                :<span class="text-primary">{{ question.course_id.creatorid.fname }} {{ question.course_id.creatorid.lname }}</span>
                                                                            </p>
                                                                            <p>Status:
                                                                                <span class="text-primary">
                                                                 {% if question.reply_flag == 'y' %}
                                                                     Instructor replied your last message
                                                                 {% endif %}
                                                                                    {% if question.reply_flag == 'n' %}
                                                                                        Waiting for instructor reply
                                                                                    {% endif %}
                                                            </span>
                                                                            </p>
                                                                        </td>

                                                                        <td colspan="2" align="right">
                                                                            <div class="">
                                                                                <a class="btn btn-primary"
                                                                                   href="/student/view_question/{{ question.pk }}/">View
                                                                                    Conversations</a>
                                                                            </div>
                                                                        </td>

                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <br/>

                                                        </div>

                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}