{% extends 'base.html' %}
{% block head %}
    <title>Change Password</title>

    <script>
        function call_modal() {
            if (document.getElementById("password").value == "") {
                document.getElementById("message").innerHTML += "Current Password should not be empty";
                $('#validationModal').modal('show');
            }
            else {
                if (document.getElementById("newpassword").value == "") {
                    document.getElementById("message").innerHTML += "New Password should not be empty";
                    $('#validationModal').modal('show');
                }
                else {
                    if (document.getElementById("renewpassword").value == "") {
                        document.getElementById("message").innerHTML += "Re type New Password should not be empty";
                        $('#validationModal').modal('show');
                    }
                    else {
                        var pass = document.getElementById("newpassword").value
                        var repass = document.getElementById("renewpassword").value
                        if (pass != repass) {
                            document.getElementById("message").innerHTML += "New Password and Re-type New Password are not same";
                            $('#validationModal').modal('show');
                        }
                        else {
                            document.myform2.submit();
                        }
                    }

                }

            }
        }

        function clear_modal() {
            document.getElementById("message").innerHTML = "";
            $('#validationModal').modal('dismiss');
        }
    </script>
    <div id="validationModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    WARNING
                </div>
                <div class="modal-body">
                    <div id="message"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clear_modal()">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block user %}
    {{ username }}
{% endblock %}
{% block logout %}
    <li><a href="/joinus/signout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}

{% block body %}
    {% load staticfiles %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="well well-sm">

                    <a class="btn-link" href="/student/"><img src="{{ UPLOAD_URL }}/overview_icon.png" height="25px">
                        Overview</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/edit/"><img src="{{ UPLOAD_URL }}/edit_icon.png" height="25px"> Edit Profile</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/change_password/"><img src="{{ UPLOAD_URL }}/password_icon.png" height="25px">Change
                        Password</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/enrolled_course/"><img src="{{ UPLOAD_URL }}/enroll_icon.png" height="25px">
                        Course Enrolled / Completed</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/question/all_questions/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                    height="25px">My Questions To Instructor</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/myprogress/"><img src="{{ UPLOAD_URL }}/quiz_icon.png"
                                                        height="25px">My Submissions</a>
                </div>
                <div class="well well-sm">
                    <a href="/student/accomplishments/"><img src="{{ UPLOAD_URL }}/accomplishment_icon.png"
                                                             height="25px">Accomplishment</a>
                </div>
            </div>
            <div class="col-sm-8 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Change Password</h2>
                    </div>
                    <div class="panel-body">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <br/>
                            {% if message1 %}
                                <script type="text/javascript">
                        $(window).on('load', function () {
                            document.getElementById("message").innerHTML = "{{ message1 }}";
                            $('#validationModal').modal('show');
                        });
                    </script>

                            {% endif %}
                            {% if message %}
                               <script type="text/javascript">
                        $(window).on('load', function () {
                            document.getElementById("message").innerHTML = "{{ message }}";
                            $('#validationModal').modal('show');
                        });
                    </script>

                            {% endif %}
                            <form role="form" method="post" action="/student/change_password/"
                                  enctype="multipart/form-data" name="myform2" id="myform2">
                                {% csrf_token %}


                                <div class="form-group">
                                    <label for="courselanguage">&nbsp; Your Email</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                           value="{{ user1.email }}" disabled>
                                </div>

                                <div class="form-group">
                                    <label for="courselanguage">&nbsp; Enter Current Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>

                                <div class="form-group">
                                    <label for="courselanguage">&nbsp; Enter New Password</label>
                                    <input type="password" class="form-control" id="newpassword" name="newpassword">
                                </div>

                                <div class="form-group">
                                    <label for="courselanguage">&nbsp; Re-Type New Password</label>
                                    <input type="password" class="form-control" id="renewpassword" name="renewpassword">
                                </div>


                                <button type="button" class="btn btn-primary btn-lg" onclick="return call_modal()">Change Password</button>

                            </form>
                            <br/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
{% endblock %}