{% extends 'base.html' %}
{% block head %}
    <title>Course HOME</title>
    <style>

    </style>
{% endblock %}
{% block user %}
    {{ username }}
{% endblock %}
{% block logout %}
    <li><a href="/joinus/signout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}

{% block body %}
    {% if fee == 'y' %}
        {% if flag == '0' %}
            <script>
                $(document).ready(function () {

                    $('#myModal1').modal('show');

                });
            </script>
        {% endif %}
    {% endif %}

    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment Of Course</h4>
                </div>
                <div class="modal-body">
                    <p>SuccessFully Payment Done !</p>

                </div>

                <div class="modal-footer">

                    <form action="/course/continue_pay/{{ course.pk }}/">
                        <button type="submit" class="btn btn-default">Continue Course</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {% if fee == 'n' %}
        <script>
            $(document).ready(function () {

                $('#myModal').modal('show');

            });
        </script>
    {% endif %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment Of Course</h4>
                </div>
                <div class="modal-body">
                    <p>You have to pay fees for getting certificate...You can continue as audit the course</p>

                </div>
                <div class="modal-footer">

                    <form action="/course/payment/{{ course.pk }}/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Continue as Audit</button>
                        <button type="submit" class="btn btn-default">Pay</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <script>
                function checkpattern() {
                    var data;
                    data = document.getElementById("review").value;
                    var d = /^\d+$/.test(data);

                    //aaaaaa
                    if (/([a-zA-z!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])\1{2,}/.test(data)) {
                        document.getElementById("review").style.borderColor = "red";
                        document.getElementById("post").style.visibility = "hidden";
                    }
                    // blank or only digit
                    else if (data.length == 0 || d == true) {
                        document.getElementById("review").style.borderColor = "red";
                        document.getElementById("post").style.visibility = "hidden";
                    }
                    // ababab
                    else if (/(\w)(?!\1)(\w)\1\2/.test(data)) {
                        document.getElementById("review").style.borderColor = "red";
                        document.getElementById("post").style.visibility = "hidden";
                    }
                    // success
                    else if (data.length > 0 && d == false) {
                        document.getElementById("review").style.borderColor = "green";
                        document.getElementById("post").style.visibility = "visible";
                    }
                }
            </script>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if reviewuser.review %}
                        <h3 class="modal-title">Your Rating and Review</h3>
                    {% endif %}
                    {% if not reviewuser.review %}
                        <h3 class="modal-title">Rating and Review</h3>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <form method="post" name="form1" action="/course/review1/{{ course.pk }}/">
                        {% csrf_token %}
                        <input id="input-21b" value="{{ reviewuser.rating }}" type="text" class="rating"
                               data-min=0 data-max=5 data-step=0.5
                               data-size="md" name="input-21b"
                               required title="">

                        <br/>

                        <p>Review (Optional)</p>

                        <p><textarea rows="5" cols="50" name="review"
                                     placeholder="Enter your review in 250 words" id="review"
                                     maxlength="250" class="form-control"
                                     onkeyup="checkpattern()">{{ reviewuser.review }}</textarea>
                        </p>

                        <div class="modal-footer">
                            <a href="/course/rating_review/{{ course.pk }}/">See other's review</a>

                            <button type="submit" class="btn btn-primary" style="margin-left:10px" id="post">
                                {% if reviewuser.review %}
                                    Edit Review
                                {% endif %}
                                {% if not reviewuser.review %}
                                    Post Review
                                {% endif %}
                            </button>


                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>


    <!-- container -->
    <div class="container-fluid animated slideInLeft">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="well well-sm">
                    <img class="img-responsive " src="{{ UPLOAD_URL }}/{{ course.course_pic }}" height="200px"
                         width="200px">
                    <h1>{{ course.cname }}</h1>
                </div>
                <div class="well well-sm">
                    <a class="btn-link" href="/course/enroll/{{ course.pk }}/"><img
                            src="{{ UPLOAD_URL }}/overview_icon.png" height="25px"> Preview Course</a>
                </div>
                <div class="well well-sm">
                    <a class="btn-link" href="/course/announcements/{{ course.pk }}/"><img
                            src="{{ UPLOAD_URL }}/announcement_icon.png" height="25px"> Announcements</a>
                </div>

                <div class="well well-sm">
                    <a class="btn-link"
                       href="/course/syllabus/{{ course.pk }}/"><img
                            src="{{ UPLOAD_URL }}/topic_icon.png" height="25px"> Syllabus</a>
                </div>

                <div class="well well-sm">
                    <button class="btn-link" data-toggle="modal" data-target="#myModal2"><img
                            src="{{ UPLOAD_URL }}/review_icon.png" height="25px" style="margin-left: -7px"> Post Your
                        Ratings
                    </button>

                </div>
                <div class="well well-sm">
                    <a href="/course/rating_review/{{ course.pk }}/" class="btn-link"><img
                            src="{{ UPLOAD_URL }}/reviews_icon.png" height="25px"> View All Reviews and Ratings</a>

                </div>
                <div class="well well-sm">
                    <a class="btn-link"
                       href="/student/ask/{{ course.pk }}/"><img src="{{ UPLOAD_URL }}/questions_icon.png"
                                                                 height="25px"> Ask Question to Instructor</a>
                </div>
                <div class="well well-sm">
                    <a class="btn-link"
                       href="/student/question/{{ course.pk }}/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                      height="25px"> View Questions</a>
                </div>
                <div class="well well-sm">
                    <a href="/forum/{{ forumid }}/"><img src="{{ UPLOAD_URL }}/forum.png" height="25px"> Forums</a>
                </div>
            </div>
            <div class="col-sm-10 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><img src="{{ UPLOAD_URL }}/topic_icon.png" height="30px"
                                 style="margin-top: -5px"> Syllabus
                            <a class="btn-danger btn pull-right"
                               href="/course/{{ progress.course_sub_content_id.pk }}/0/">Resume Course</a></h3>
                    </div>
                    <div class="panel-body">

                        {% for content1 in content %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3><img src="{{ UPLOAD_URL }}/topic_icon.png" height="30px"
                                             style="margin-top: -5px"> {{ content1.content_name }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="mt-4 ">
                                        <div class="card shadow">
                                            <div class="card-block">
                                                <h4 class="card-title">Description : </h4><h4 class="card-text">
                                                <b> {{ content1.content_description }}</b></h4>
                                            </div>
                                        </div>
                                    </div>
                                    {% if content1.content_url != 'null' %}
                                        <div class="mt-4 ">
                                            <div class="card shadow">
                                                <div class="card-block">
                                                    <h4 class="card-title">
                                                        <h4 class="img-responsive">
                                                            {% if content1.content_type == 'video' %}
                                                                <img src="{{ UPLOAD_URL }}/videologo.jpg" height="30px"
                                                                     width="30px">
                                                                <b><a
                                                                        href="/course/{{ content1.pk }}/0/"
                                                                        class="float-right"> {{ content1.content_name }}</a></b>
                                                            {% endif %}

                                                        </h4>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="mt-4 ">
                                            <div class="card shadow">
                                                <div class="card-block">
                                                    {% for r in resources_data %}
                                                        {% if r.content_id.id == content1.id %}
                                                            <h4 class="card-title">
                                                                <h4 class="img-responsive">
                                                                    {% if r.type.name == 'video' %}
                                                                        <img src="{{ UPLOAD_URL }}/videologo.jpg"
                                                                             height="30px"
                                                                             width="30px">
                                                                    {% else %}
                                                                        <img src="{{ UPLOAD_URL }}/quiz_icon.png"
                                                                             height="30px"
                                                                             width="30px">
                                                                    {% endif %}
                                                                    <b><a
                                                                            href="/course/{{ content1.pk }}/{{ r.id }}/"
                                                                            class="float-right"> {{ r.name }}</a></b>
                                                                </h4>
                                                            </h4>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% for subcontent1 in subcontent %}
                                        {% if subcontent1.content_sub_id == content1.id %}
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    {% if subcontent1.content_type == 'video' %}
                                                        <b>{{ subcontent1.content_name }}</b>
                                                    {% endif %}
                                                </div>
                                                <div class="panel-body">
                                                    <div class="mt-4 ">
                                                        <div class="card shadow">
                                                            <div class="card-block">
                                                                <h4 class="card-title"><h4 class="img-responsive">
                                                                    {% if subcontent1.content_type == 'video' %}
                                                                        <img src="{{ UPLOAD_URL }}/videologo.jpg"
                                                                             height="30px"
                                                                             width="30px">
                                                                        <b><a
                                                        href="/course/{{ subcontent1.pk }}/0/"
                                                        class="float-right"> {{ subcontent1.content_name }}</a></b>
                                                                    {% endif %}
                                                                </h4></h4>
                                                                {% for r in resources_data %}
                                                                    {% if r.content_id.id == subcontent1.id %}
                                                                        <h4 class="card-title">
                                                                            <h4 class="img-responsive">
                                                                                {% if r.type.name == 'video' %}
                                                                                    <img src="{{ UPLOAD_URL }}/videologo.jpg"
                                                                                         height="30px"
                                                                                         width="30px">
                                                                                {% else %}
                                                                                    <img src="{{ UPLOAD_URL }}/quiz_icon.png"
                                                                                         height="30px"
                                                                                         width="30px">
                                                                                {% endif %}
                                                                                <b> <a
                                                                                        href="/course/{{ content1.pk }}/{{ r.id }}/"
                                                                                        class="float-right"> {{ r.name }}</a></b></b>
                                                                            </h4>
                                                                        </h4>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for k,v in course_quizes.items %}
                                        {% if content1.content_name == v %}
                                            <div class="mt-4 ">
                                                <div class="card shadow">
                                                    <div class="card-block">
                                                        <h4 class="card-title"><h4 class="img-responsive">
                                                            Quiz
                                                        </h4></h4>
                                                        <div class="card-text" style="padding-right:10px">
                                                            <h4 class="img-responsive">
                                                                <img src="{{ UPLOAD_URL }}/quiz_icon.png" height="30px">
                                                                {{ k }} (Quiz)
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                <span class="float-right"><a
                                                        href="/course/quiz/{{ content1.course_id.id }}/{{ k }}/"
                                                        class="float-right">Start Quiz</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-2 sidenav">
                </div>
            </div>
        </div>
        <!-- container -->
{% endblock %}