{% extends 'base.html' %}
{%  block head %}
  <title>REGISTER</title>

{% endblock %}
{% block user %}
    {{ username }}
{% endblock %}
{% block signup %}
    <li><a href="/joinus/register/"><span class="glyphicon glyphicon-log-out"></span> SignUP</a></li>
{% endblock %}
{% block body %}
    <div class="container">

    <div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    <h2> Forgot Password </h2>
    <br />
        {% if message %}
    <div class = "panel panel-primary">
    <div class = "panel-body">
        {{ message }}
    </div>
    </div>
    {% endif %}
	<form role = "form" method="post" action="/joinus/sendotpforgot/" enctype="multipart/form-data">
        {% csrf_token %}
       <div class = "form-group">
          <label for = "email">&nbsp;Enter Email :</label>
          <input type = "text" class = "form-control" id = "email" name="email" placeholder = "Enter Email ">
       </div>
       <button type = "submit" class = "btn btn-primary btn-lg" style="margin: "> Forgot Password </button>



	</form>
    <br />
    </div>
    </div>
</div>
{% endblock %}
