{% extends 'instructor_base.html' %}
{% block head %}
    <title>EDIT PROFILE</title>
{% endblock %}
{% block instructorname %}
{{ instructorname }}
{% endblock %}
{% block logout %}
<li><a href="/instructor/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}
{% block body %}

    <!-- container -->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav" align="left">
                <div class="well well-sm">
                    <p><a class="btn-link" href="/instructor/panel/"><img src="{{ UPLOAD_URL }}/overview_icon.png"
                                                                          height="25px">Overview</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/instructor_profile/"><img src="{{ UPLOAD_URL }}/profile_icon.png" height="25px"> My Profile</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/questions_panel/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                   height="25px"> Direct Questions From Students</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/forum/"><img src="{{ UPLOAD_URL }}/forum.png" height="25px"> Forums</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/earnings/"><img src="{{ UPLOAD_URL }}/earnings.png" height="25px"> Earnings</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-8 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><img src="{{ UPLOAD_URL }}/profile_icon.png" height="50px" width="50px"> EDIT PROFILE</h2>
                    </div>
                    <div class="panel-body">
                        {% if message %}
                            <div class="alert alert-success">
                                <strong>Upadate {{ message }}!</strong>&nbsp;&nbsp;
                            </div>

                        {% endif %}
                        <form role="form" method="post" action="/instructor/edit_profile/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table table-bordered">
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <label for="coursename">&nbsp;Profile Pic</label>
                                        </td>
                                        <td>
                                            {{ user1.pic }}
                                            <input type="hidden" name="file2" value="{{ user1.pic }}">
                                            <input type="file" class="form-control" id="file1" name="file1"
                                                   value="{{ user1.pic }}" placeholder="Edit your profile pic">
                                        </td>
                                    </div>
                                </tr>
                                <tr>

                                    <div class="form-group">
                                        <td>
                                            <label for="coursename">&nbsp;First Name</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="fname" name="fname"
                                                   value="{{ user1.fname }}" placeholder="Edit your first name">
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <label for="taughtby">&nbsp;Last Name</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="lname" name="lname"
                                                   value="{{ user1.lname }}" placeholder="Edit your last name">
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <label for="prerequisites">&nbsp;User Name</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="uname" name="uname"
                                                   value="{{ user1.uname }}" placeholder="Edit User Name">
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <label for="courselanguage">&nbsp;Email</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="email" name="email"
                                                   value="{{ user1.email }}" placeholder="edit email" readonly>
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                         <input type="submit" class="btn btn-primary btn-lg" value="UPDATE">
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <!-- container -->

{% endblock %}