{% extends 'instructor_base.html' %}
{% block head %}
    <title>EDIT SUB CONTENT</title>
    <script type="text/javascript">
        function call_modal() {
            var flag = 1;
            if (document.getElementById("content_name").value == "") {
                flag=0;
                document.getElementById("message").innerHTML = "";
                document.getElementById("message").innerHTML += "Content Name cannot be empty";
                ;
                $('#validationModal').modal('show');
            }
            else if (document.getElementById("content_desc").value == "") {
                flag=0;
                document.getElementById("message").innerHTML = "";
                document.getElementById("message").innerHTML += "Description cannot be empty";
                $('#validationModal').modal('show');
            }
            if (document.getElementById("content_file1").value != "") {
                var _validFileExtensions = ['.mp4', '.flv', '.mpeg', '.3gp'];
                var arrInputs = document.edit_sub_form.getElementsByTagName("input");
                for (var i = 0; i < arrInputs.length; i++) {
                    var oInput = arrInputs[i];
                    if (oInput.type == "file") {
                        var sFileName = oInput.value;
                        if (sFileName.length > 0) {
                            var blnValid = false;
                            for (var j = 0; j < _validFileExtensions.length; j++) {
                                var sCurExtension = _validFileExtensions[j];
                                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                    blnValid = true;
                                    break;
                                }
                            }

                            if (!blnValid) {
                                flag=0;
                                document.getElementById("message").innerHTML = "";
                                document.getElementById("message").innerHTML += "File must be a video file";
                                $('#validationModal').modal('show');
                            }
                        }
                    }
                }

            }
            if (flag ==1) {
                $('#successModal').modal('show');
            }
            return true;
        }
        $(function () {
            $('#successModal').on('show.bs.modal', function () {
                var myModal = $(this);
                clearTimeout(myModal.data('hideInterval'));
                myModal.data('hideInterval', setTimeout(function () {
                    myModal.modal('hide');
                    document.edit_sub_form.submit();
                }, 1500));
            });
        });
    </script>
{% endblock %}
{% block instructorname %}
{{ instructorname }}
{% endblock %}
{% block logout %}
<li><a href="/instructor/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}
{% block body %}

    <!-- container -->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav" align="left">
                <div class="well well-sm">
                    <p><a class="btn-link" href="/instructor/panel/"><img src="{{ UPLOAD_URL }}/overview_icon.png"
                                                                          height="25px">Overview</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/managecourse/"><img src="{{ UPLOAD_URL }}/manage_courses.png" height="25px">
                        Manage Courses</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/quiz_display1/{{ subcontent.course_id.id }}/"><img src="{{ UPLOAD_URL }}/quiz_icon.png" height="25px">
                        Quiz's</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/students_enrolled/{{ subcontent.course_id.id }}/"><img
                            src="{{ UPLOAD_URL }}/enroll_icon.png" height="25px"> Students Enrolled</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/question_bank1/{{ subcontent.course_id.id }}/"><img src="{{ UPLOAD_URL }}/question_bank.jpg" height="25px">
                        Question Bank</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/forum/{{ subcontent.course_id.id }}/"><img src="{{ UPLOAD_URL }}/forum.png" height="25px"> Forums</a></p>
                </div>

            </div>
            <div class="col-sm-8 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><img src="{{ UPLOAD_URL }}/edit.png" height="50px" width="50px"> Edit Content</h2>
                    </div>
                    <div class="panel-body">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <br/>

                            <form role="form" method="post" action="/instructor/edit_sub_content/{{ subcontent.id }}/"
                                  enctype="multipart/form-data"  name="edit_sub_form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="content_name">&nbsp;Content Name</label>
                                    <input type="text" class="form-control" id="content_name" name="content_name"
                                           value="{{ subcontent.content_name }}">
                                </div>


                                <div class="form-group">
                                    <label for="content_desc">&nbsp;Content Description</label>
                                    <textarea type="text" class="form-control" id="content_desc"
                                              name="content_desc">{{ subcontent.content_description }}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="content_file">&nbsp;Content Video</label>
                                    : {{ subcontent.content_url }}
                                    <input type="file" class="form-control" id="content_file" name="content_file">
                                    <input type="hidden" id="content_file1" name="content_file1"
                                           value="{{ subcontent.content_url }}">
                                </div>

                                <button type="button" onclick="return call_modal()" class="btn btn-default">Update</button>
                            </form>
                            <br/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>
    <div id="successModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-body">
                    Success
                </div>
            </div>
        </div>
    </div>
    <div id="validationModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    WARNING
                </div>
                <div class="modal-body">
                    <div id="message"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
{% endblock %}