{% extends 'instructor_base.html' %}
{% block head %}
    <title>PROFILE</title>
{% endblock %}
{% block instructorname %}
{{ instructorname }}
{% endblock %}
{% block logout %}
<li><a href="/instructor/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}
{% block body %}

    <!-- container -->
    <div class="container-fluid text-center animated fadeIn">
        <div class="row content">
            <div class="col-sm-2 sidenav" align="left">
                <div class="well well-sm">
                    <p><a class="btn-link" href="/instructor/panel/"><img src="{{ UPLOAD_URL }}/overview_icon.png"
                                                                          height="25px">Overview</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/instructor_profile/"><img src="{{ UPLOAD_URL }}/profile_icon.png" height="25px"> My Profile</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/questions_panel/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                   height="25px"> Direct Questions From Students</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/forum/"><img src="{{ UPLOAD_URL }}/forum.png" height="25px"> Forums</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/earnings/"><img src="{{ UPLOAD_URL }}/earnings.png" height="25px"> Earnings</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-10 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><img src="{{ UPLOAD_URL }}/profile_icon.png" height="50px" width="50px"> PROFILE</h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    {% load staticfiles %}
                                    <td colspan="2" align="center"><img src="{{ UPLOAD_URL }}/{{ user1.pic }}"
                                                                        width="300px" height="200px"
                                                                        alt="{{ user1.pic }} " class="img-rounded"></td>
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td>
                                        {{ user1.fname }}
                                    </td>
                                </tr>
                                <tr>

                                    <td>Last Name</td>
                                    <td>{{ user1.lname }}</td>
                                </tr>

                                <tr>
                                    <td>UserName</td>
                                    <td>{{ user1.uname }}</td>
                                </tr>

                                <tr>
                                    <td>Email</td>
                                    <td>{{ user1.email }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                          <a type="button" href="/instructor/edit_profile/"
                                       class="btn btn-primary btn-lg">Edit Profile</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- container -->

{% endblock %}