{% extends 'instructor_base.html' %}
{% block head %}
    <title>Manage Course</title>
{% endblock %}
{% block instructorname %}
    {{ instructorname }}
{% endblock %}
{% block logout %}
    <li><a href="/instructor/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block signup %}
{% endblock %}
{% block body %}

    <!-- container -->
    <div class="container-fluid text-center animated fadeIn">
        <div class="row content">
            <div class="col-sm-2 sidenav" align="left">
                <div class="well well-sm">
                    <p><a class="btn-link" href="/instructor/panel/"><img src="{{ UPLOAD_URL }}/overview_icon.png"
                                                                          height="25px">Overview</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/instructor_profile/"><img src="{{ UPLOAD_URL }}/profile_icon.png" height="25px"> My Profile</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/questions_panel/"><img src="{{ UPLOAD_URL }}/question_icon.png"
                                                                   height="25px"> Direct Questions From Students</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/forum/"><img src="{{ UPLOAD_URL }}/forum.png" height="25px"> Forums</a></p>
                </div>
                <div class="well well-sm">
                    <p><a href="/instructor/earnings/"><img src="{{ UPLOAD_URL }}/earnings.png" height="25px"> Earnings</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-10 text-left ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Welcome {{ user1.fname }} {{ user1.lname }}</h2>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Manage Courses</h2>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                {% for coursename in user1.course_set.all %}
                                    <tr>
                                        <td width="60%"><h4>{{ coursename.cname }}</h4></td>
                                        <td width="20%" align="center"><a class="btn btn-primary btn" type="button"
                                                                          href="/instructor/coursedisplay/{{ coursename.pk }}/"
                                                                          class="btn btn-default">Manage</a></td>
                                        <td width="20%" align="center"><a class="btn btn-primary btn" type="button"
                                                                          href="/instructor/createcourse1/{{ coursename.pk }}/"
                                                                          class="btn btn-default">Upload Content</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- container -->
{% endblock %}